.bg-gradient-primary-2 {
    background-color: #455a64;
    background-image: linear-gradient(180deg,#455a64 10%,#5d6d75 );
    background-size: cover;
}

#pozadinskaSlika {
    background-image: url(../img/pic.jpg);
    min-height : 5px;
}
