
@{
    ViewData["Title"] = "Poruke";
}

    <head>
        <link rel="stylesheet" href="~/css/assets/css/PorukeStyle.css">
    </head>
    <body>
            <div id="prviDiv">
                <div id="treciDiv">
                    <h1>@Html.Raw((ViewData["poruka"]))</h1>
                </div>

            </div>
        
  
        
       


    </body>
    

