
@{
    ViewData["Title"] = "Poruke";
}

    <body style="background-color: #455a64">
        <h1>@Html.Raw((ViewData["poruka"]))</h1>
        <br />
        <br />
        <br />
       
        <br />
        <br />
        <div id="map"></div>
        <br><br>
        <div id="task" style="display:none">

        </div>

    </body>
    

